@font-face {
    font-family: 'cursed_timer_ulilregular';
    src: url('fonts/cursedtimerulil-aznm-webfont.woff2') format('woff2'),
         url('fonts/cursedtimerulil-aznm-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  

body {
    background-color: #1B244A;
    font-family: Verdana, Arial, sans-serif;
}

.container, .result, .add-number {
    display: flex;
    justify-content: space-around;
}

h3 {
    color: #fff;
    font-size: 3em;
}

.result p {
    font-size: 6em;
    color: #F94F6D;
    font-family: cursed_timer_ulilregular;
    background-color: black;
    width: 250px;
    height: 250px;
    text-align: center;
    padding-top: 90px;
}


.add-btn {
    border: solid 1px #fff;
    padding: 20px 10px 0 10px;
    border-radius: 5px;
    width: 70px;
    height: 70px;
    margin: 5px;
    text-align: center;
    font-family: cursed_timer_ulilregular;
    background-color: #1B244A;
    color: #fff;
    font-size: 2em;
}

.add-btn:hover {
    cursor: pointer;
}

div > p.highlight {
    background-color: green;
}

.reset {
    text-align: center;
}

.reset-btn {
    color: #1b244a;
    padding: 10px;
    margin: 30px auto;
    text-transform: uppercase;
    border-radius: 5px;
    border: solid 1px white;
}